<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dali">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Тихие Гавани"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dali">

        <!-- Главный экран -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Остальные экраны -->
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".RecommendationsActivity" />
        <activity android:name=".TripPlannerActivity" />
        <activity android:name=".AudioGuidesActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".ProfileActivity" />

        <!-- 🔧 Добавлена отсутствующая активность -->
        <activity android:name=".FavoritesActivity" />

    </application>
</manifest>
